
@{
    ViewBag.Title = "dangki";
}

<h2>dangki</h2>
@model LTW_GIUAKI_NHOM4.Models.SVModel
<form action="dangki" method="post">
    Mã sinh viên <input name="masv"/>
    Tên sinh viên <input name="tensv"/>
    <input type="submit" value="Đăng Kí"/>
    </form>

